body{
    background: #0062e6 !important;
}

.row{
    height: 100vh;
    place-content: center;
}

.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, .2);
}

.title{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-input{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.form-input input{
    width: 90%;
    height: 45px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
}

.form-input input.is-invalid{
    box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.5) !important;
}

.form-input input:focus, .form-input:valid{
    border: 2px solid #007bff;
}

.login{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit{
    border: none;
    width: 50%;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 575px){
    .submit{
        width: 100%;
    }
}